@keyframes slideDiv {
    0% {
        opacity: 70%;
       transform: translateX(-20%);
    }
    100% {
        opacity: 100%;
        transform: translateX(0%);
    }
}

@keyframes slideUpDiv {
    0% {
        transform: translateY(5%);
        opacity: 30%;
    }

    100% {
        transform: translateY(0%);
        opacity: 100%;
    }
}

.slideInFirst {
    animation: slideDiv 0.3s ease-out forwards;
}

.slideInLate {
    animation: slideDiv 0.6s ease-out forwards;
}

.slideUp {
    animation: slideUpDiv 1s ease-out forwards;
}